@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(0,0,0);
  background-image: url("by.png");
  background-size: 10%;
  text-align: center;
  color: rgb(168, 166, 211);
  margin: auto;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style:normal;
}



h1{
  font-size: 40px;
}

#myCanvas {
  background-image: url("https://cdn11.bigcommerce.com/s-3uewkq06zr/images/stencil/1280x1280/products/230/406/blue_b__05623.1492487362.png?c=2");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(168, 166, 211);
}



